/* Add a black background color to the top navigation */
.topnav {
  background-color: #cccc00;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color:beige;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #3366cc;
  color: white;
}

.header{
    text-align:center;
    font-size:50px;
    margin:40px;
}

p{
    text-align:center;
}

.intro{
      border: 1px solid;
      width:50%;
      display:flex;
      justify-content:center;
      margin:20px auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

